[Unit]
Description=BuildKit
Requires=gbuildkit.socket
After=gbuildkit.socket
Documentation=https://github.com/moby/buildkit

[Service]
Type=notify
ExecStart=/opt/gajah/buildkit/bin/buildkitd --addr fd://

[Install]
WantedBy=multi-user.target
